th,td,body,p,textarea {
	font-family:'Verdana','Arial','Helvetica';
	font-size:10pt;
}

a,a.visited {
	color:#009900;
}

.help {
	font-family:'Verdana','Arial','Helvetica';
	font-size:8pt;
}

.ubbcButton {
	font-family:arial;
	font-size:8pt;
}